@import '../../styles/globals.scss';

.allProducts {
    margin: auto;
    margin-top: 2.625em;
    font-family: $ff-primary;
    border-radius: 0;
    
    .catalog {
        width: 100%;
        margin: 3.25em 0;
        .container {
            display: flex;
            width: 100%;
            gap: 1.925em;
            flex-wrap: wrap;
        }
    }
}
