// Colors
$div-color: #e6e8ec;
$txt-dim: #626264;
$txt-primary: #23262f;

$btn-primary: #1c1d48;

// Fonts
$ff-primary: "DM Sans", sans-serif;
$ff-secondary: "Poppins", sans-serif;
$ff-gentle: "Open Sans", sans-serif;
