// Colors
$div-color: #E6E8EC;
$txt-dim: #626264;
$txt-primary: #23262F;

$btn-primary: #1C1D48;

// Fonts
$ff-primary: 'DM Sans', sans-serif;
$ff-secondary: 'Poppins', sans-serif;
$ff-gentle: 'Open Sans', sans-serif;